.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
}

.cart-item {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item li {
    margin-right: 16px;
}

.cart-item span {
    color: #fff;
    background-color: #007bff;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.cart-item span:hover {
    background-color: #0056b3;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    border: 1px solid #00c8ff;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #034f64;
    border-color: #00c8ff;
    color: white;
}

.actions .button--alt {
    color: #00c8ff;
}

.actions .button {
    background-color: #00c8ff;
    color: white;
}

.item-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}
