.product {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 50%;
    margin: 15px auto; /* Center the products on the screen */
    border-radius: 8px;
    background-color: #f9f9f9;
    list-style: none; /* Remove default list styles */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; /* Center items in each product */
}

.product h3 {
    margin-top: 3px;
    margin-bottom: 5px;
}

.product p {
    margin: 5px 0;
}

.product label {
    margin: 5px 0;
}

.product input[type="number"],
.product button {
    margin: 5px 0;
    padding: 8px 16px;
}
.product input[type="number"] {
    width: 2rem;
}

.product button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #0056b3;
}
